spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
  application:
    name: AniLog

server:
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET}

